user  nginx;
load_module modules/ngx_http_js_module.so;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}



http {
    js_import headers.js;
    js_set $headers_json headers.headers_json;

    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format detailed '$remote_addr'
                        '\t$remote_user'
                        '\t$time_local'
                        '\t$request'
                        '\t$status'
                        '\t$headers_json'
                        '\t$request_body';

    access_log  /var/log/nginx/access.log detailed;

    sendfile        on;
    keepalive_timeout  65;

    server {



        listen       80;
        server_name  localhost;

        location / {
            root   html;
            index  index.html index.htm;
            proxy_pass http://localhost/pr;
        }
        location /pr {
            root   html;
            index  index.html index.htm;
            access_log off;
        }
    }
}